
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
crossorigin="anonymous" referrerpolicy="no-referrer" />


        <section id="newsletter" class="newsletter">
            <div class="newsletter-box">
                <i class="fa fa-envelope-open" aria-hidden="true"></i>
                <h4>Signup for newsletter</h4>
            </div>
            <p>Seasonal discount from <span class="discount">20%</span></p>
            <form>
                <input type="text" placeholder="Email">
                <input type="submit" />
            </form>
         </section>
