        <!-- Call up section -->
        <section class="call-up">
            <div class="call-up-box">
                <div class="icon"><i class="fa-solid fa-truck"></i></div>
                <div>
                    <h4>Free Shipping</h4>
                </div>
                <p>Enjoy free shipping on all orders without any minimum purchase. Experience convenient and fast
                    delivery to your doorstep.</p>
            </div>
            <div class="call-up-box">
                <div class="icon"><i class="fa-solid fa-lock"></i></div>
                <div>
                    <h4>Security Payment</h4>
                </div>
                <p>Your transactions are secure with our top-notch encryption technology, ensuring your personal
                    information is protected.</p>
            </div>
            <div class="call-up-box">
                <div class="icon"><i class="fa-solid fa-undo"></i></div>
                <div>
                    <h4>14 Days Return</h4>
                </div>
                <p>Not satisfied with your purchase? No worries! We offer a 14-day return policy for hassle-free
                    returns.</p>
            </div>
        </section>
