<section id="about" class="about">
    <div class="left">
        <div class="promotion about-box">
            <img src="sneaker-4.jpg" alt="Promotions & Discounts">
            <div class="description">
                <h4>Promotions & Discounts</h4>
                <p>Save big with our exclusive promotions and discounts. Shop now to take advantage of limited-time offers on your favorite fashion items.</p>
                <a href="#">Shop now <i class="fa-solid fa-arrow-right-long"></i></a>
            </div>
        </div>
        <div class="style about-box">
            <img src="sunglasses-1.jpg" alt="Trending Style">
            <div class="description">
                <h4>Trending Style</h4>
                <p>Stay ahead of the fashion curve with our selection of trending styles. Discover the latest looks that everyone is talking about.</p>
                <a href="#">Shop now <i class="fa-solid fa-arrow-right-long"></i></a>
            </div>
        </div>
    </div>
    <div class="right">
        <div class="collection about-box">
            <img src="collection-1.jpg" alt="Spring Collection">
            <div class="description">
                <h4>Spring Collection</h4>
                <p>Embrace the new season with our spring collection. Fresh styles, vibrant colors, and light fabrics perfect for the warmer days.</p>
                <a href="#">Shop now <i class="fa-solid fa-arrow-right-long"></i></a>
            </div>
        </div>
        <div class="discovery about-box">
            <img src="fashion-1.jpg" alt="Fashion Discovery">
            <div class="description">
                <h4>Fashion Discovery</h4>
                <p>Explore unique and innovative fashion pieces. Uncover new designers and emerging trends that are set to make a statement.</p>
                <a href="#">Shop now <i class="fa-solid fa-arrow-right-long"></i></a>
            </div>
        </div>
    </div>
</section>
