         <!-- Contact section -->
         <section id="contact" class="contact">
           <div class="map">
             <iframe style="border:0;width:100%;height:350px;"
               src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3456.245775863299!2d31.235711615118513!3d30.044419881878565!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x145840c1a3483b93%3A0x406e642a8b42bd0!2sCairo%2C%20Egypt!5e0!3m2!1sen!2sus!4v1672567643274!5m2!1sen!2sus"
               allowfullscreen loading="lazy" referrerpolicy="no-referrer-when-downgrade">
             </iframe>
           </div>
           <div class="info-wrap">
             <div class="info">
               <i class="fa fa-location-arrow" aria-hidden="true"></i>
               <h4>Location:</h4>
               <p>
                 125 Random Cairo St.
                 <br>
                 Random city , state 1222
               </p>
             </div>
             <div class="info">
               <i class="fa fa-envelope-square" aria-hidden="true"></i>
               <h4>Email:</h4>
               <p>
                 123&#64;example.com
                 <br>
                 contact&#64;example.com
               </p>
             </div>
             <div class="info">
               <i class="fa fa-phone" aria-hidden="true"></i>
               <h4>Call:</h4>
               <p>
                 01101243555523
                 <br>
                 014151512000215
               </p>
             </div>
           </div>
           <form class="contact-form">
             <div class="form-group">
               <input type="text" placeholder="Your Name" required />
             </div>
             <div class="form-group">
               <input type="email" placeholder="Your Email" required />
             </div>
             <div class="form-group">
               <input type="text" placeholder="Subject" required />
             </div>
             <div class="form-group">
               <textarea name="message" rows="5" placeholder="Message"></textarea>
             </div>
             <div class="text-center">
               <button type="submit">Send Message</button>
             </div>
           </form>
         </section>
